<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" xml:lang="<%= language %>" lang="<%= language %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="calibre:cover" content="true"/>
    <title><%= title %></title>
    <style type="text/css">
      @page {
        padding: 0pt; margin:0pt
      }

      body {
        text-align: center;
        padding:0;
        margin: 0;
      }

      img {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <%= image_tag "cover.png" %>
  </body>
</html>
