<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC
	  "-//W3C//DTD XHTML 1.1//EN"
	  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html class="epub" xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= language %>">
  <head>
    <title><%= title %></title>
    <link name="stylesheet" rel="stylesheet" type="text/css" href="styles/epub.css" />
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  </head>

  <body>
    <div>
      <h1><%= title %></h1>
    </div>
  </body>
</html>
