.monokai .hll { background-color: #49483e }
.monokai .c { color: #75715e } /* Comment */
.monokai .err { color: #960050; background-color: #1e0010 } /* Error */
.monokai .k { color: #66d9ef } /* Keyword */
.monokai .l { color: #ae81ff } /* Literal */
.monokai .n { color: #f8f8f2 } /* Name */
.monokai .o { color: #f92672 } /* Operator */
.monokai .p { color: #f8f8f2 } /* Punctuation */
.monokai .cm { color: #75715e } /* Comment.Multiline */
.monokai .cp { color: #75715e } /* Comment.Preproc */
.monokai .c1 { color: #75715e } /* Comment.Single */
.monokai .cs { color: #75715e } /* Comment.Special */
.monokai .ge { font-style: italic } /* Generic.Emph */
.monokai .gs { font-weight: bold } /* Generic.Strong */
.monokai .kc { color: #66d9ef } /* Keyword.Constant */
.monokai .kd { color: #66d9ef } /* Keyword.Declaration */
.monokai .kn { color: #f92672 } /* Keyword.Namespace */
.monokai .kp { color: #66d9ef } /* Keyword.Pseudo */
.monokai .kr { color: #66d9ef } /* Keyword.Reserved */
.monokai .kt { color: #66d9ef } /* Keyword.Type */
.monokai .ld { color: #e6db74 } /* Literal.Date */
.monokai .m { color: #ae81ff } /* Literal.Number */
.monokai .s { color: #e6db74 } /* Literal.String */
.monokai .na { color: #a6e22e } /* Name.Attribute */
.monokai .nb { color: #f8f8f2 } /* Name.Builtin */
.monokai .nc { color: #a6e22e } /* Name.Class */
.monokai .no { color: #66d9ef } /* Name.Constant */
.monokai .nd { color: #a6e22e } /* Name.Decorator */
.monokai .ni { color: #f8f8f2 } /* Name.Entity */
.monokai .ne { color: #a6e22e } /* Name.Exception */
.monokai .nf { color: #a6e22e } /* Name.Function */
.monokai .nl { color: #f8f8f2 } /* Name.Label */
.monokai .nn { color: #f8f8f2 } /* Name.Namespace */
.monokai .nx { color: #a6e22e } /* Name.Other */
.monokai .py { color: #f8f8f2 } /* Name.Property */
.monokai .nt { color: #f92672 } /* Name.Tag */
.monokai .nv { color: #f8f8f2 } /* Name.Variable */
.monokai .ow { color: #f92672 } /* Operator.Word */
.monokai .w { color: #f8f8f2 } /* Text.Whitespace */
.monokai .mf { color: #ae81ff } /* Literal.Number.Float */
.monokai .mh { color: #ae81ff } /* Literal.Number.Hex */
.monokai .mi { color: #ae81ff } /* Literal.Number.Integer */
.monokai .mo { color: #ae81ff } /* Literal.Number.Oct */
.monokai .sb { color: #e6db74 } /* Literal.String.Backtick */
.monokai .sc { color: #e6db74 } /* Literal.String.Char */
.monokai .sd { color: #e6db74 } /* Literal.String.Doc */
.monokai .s2 { color: #e6db74 } /* Literal.String.Double */
.monokai .se { color: #ae81ff } /* Literal.String.Escape */
.monokai .sh { color: #e6db74 } /* Literal.String.Heredoc */
.monokai .si { color: #e6db74 } /* Literal.String.Interpol */
.monokai .sx { color: #e6db74 } /* Literal.String.Other */
.monokai .sr { color: #e6db74 } /* Literal.String.Regex */
.monokai .s1 { color: #e6db74 } /* Literal.String.Single */
.monokai .ss { color: #e6db74 } /* Literal.String.Symbol */
.monokai .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.monokai .vc { color: #f8f8f2 } /* Name.Variable.Class */
.monokai .vg { color: #f8f8f2 } /* Name.Variable.Global */
.monokai .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.monokai .il { color: #ae81ff } /* Literal.Number.Integer.Long */
