.trac .hll { background-color: #ffffcc }
.trac .c { color: #999988; font-style: italic } /* Comment */
.trac .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.trac .k { font-weight: bold } /* Keyword */
.trac .o { font-weight: bold } /* Operator */
.trac .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.trac .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.trac .c1 { color: #999988; font-style: italic } /* Comment.Single */
.trac .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.trac .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.trac .ge { font-style: italic } /* Generic.Emph */
.trac .gr { color: #aa0000 } /* Generic.Error */
.trac .gh { color: #999999 } /* Generic.Heading */
.trac .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.trac .go { color: #888888 } /* Generic.Output */
.trac .gp { color: #555555 } /* Generic.Prompt */
.trac .gs { font-weight: bold } /* Generic.Strong */
.trac .gu { color: #aaaaaa } /* Generic.Subheading */
.trac .gt { color: #aa0000 } /* Generic.Traceback */
.trac .kc { font-weight: bold } /* Keyword.Constant */
.trac .kd { font-weight: bold } /* Keyword.Declaration */
.trac .kn { font-weight: bold } /* Keyword.Namespace */
.trac .kp { font-weight: bold } /* Keyword.Pseudo */
.trac .kr { font-weight: bold } /* Keyword.Reserved */
.trac .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.trac .m { color: #009999 } /* Literal.Number */
.trac .s { color: #bb8844 } /* Literal.String */
.trac .na { color: #008080 } /* Name.Attribute */
.trac .nb { color: #999999 } /* Name.Builtin */
.trac .nc { color: #445588; font-weight: bold } /* Name.Class */
.trac .no { color: #008080 } /* Name.Constant */
.trac .ni { color: #800080 } /* Name.Entity */
.trac .ne { color: #990000; font-weight: bold } /* Name.Exception */
.trac .nf { color: #990000; font-weight: bold } /* Name.Function */
.trac .nn { color: #555555 } /* Name.Namespace */
.trac .nt { color: #000080 } /* Name.Tag */
.trac .nv { color: #008080 } /* Name.Variable */
.trac .ow { font-weight: bold } /* Operator.Word */
.trac .w { color: #bbbbbb } /* Text.Whitespace */
.trac .mf { color: #009999 } /* Literal.Number.Float */
.trac .mh { color: #009999 } /* Literal.Number.Hex */
.trac .mi { color: #009999 } /* Literal.Number.Integer */
.trac .mo { color: #009999 } /* Literal.Number.Oct */
.trac .sb { color: #bb8844 } /* Literal.String.Backtick */
.trac .sc { color: #bb8844 } /* Literal.String.Char */
.trac .sd { color: #bb8844 } /* Literal.String.Doc */
.trac .s2 { color: #bb8844 } /* Literal.String.Double */
.trac .se { color: #bb8844 } /* Literal.String.Escape */
.trac .sh { color: #bb8844 } /* Literal.String.Heredoc */
.trac .si { color: #bb8844 } /* Literal.String.Interpol */
.trac .sx { color: #bb8844 } /* Literal.String.Other */
.trac .sr { color: #808000 } /* Literal.String.Regex */
.trac .s1 { color: #bb8844 } /* Literal.String.Single */
.trac .ss { color: #bb8844 } /* Literal.String.Symbol */
.trac .bp { color: #999999 } /* Name.Builtin.Pseudo */
.trac .vc { color: #008080 } /* Name.Variable.Class */
.trac .vg { color: #008080 } /* Name.Variable.Global */
.trac .vi { color: #008080 } /* Name.Variable.Instance */
.trac .il { color: #009999 } /* Literal.Number.Integer.Long */
