/* add custom CSS */

.notice {
	background: #cde2f5;
	border-radius: 5px;
	padding: 10pt;
}

div.frontcover h1 {
	font-size: 38pt;
}

div.table-of-contents div.level3 {
	display: none;
}

div.table-of-contents div.level2 a {
	font-weight: normal;
}