<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../templates/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../templates/syntax.css"/>
	<link rel="stylesheet" type="text/css" href="../templates/user.css"/>
	
	<meta name="author" content="<%= authors.join(', ') %>" />
	<meta name="subject" content="<%= subject %>" />
	<meta name="keywords" content="<%= keywords %>" />
</head>
<body>
	<div class="frontcover"></div>
	<div class="halftitlepage">
		<h1 class="no-toc"><%= title %></h1>
	</div>

	<div class="titlepage">
		<h1 class="no-toc"><%= title %></h1>
		<p class="no-toc"><%= authors.join('<br/>') %></p>
	</div>
	
	<div class="imprint">
		<p><%= copyright %></p>
	</div>
	
	<div class="chapters">
		<%= contents %>
	</div>

	<div class="white_page"></div>
	<div class="white_page"></div>
	<div class="backcover"></div>
</body>
</html>