<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= language %>">
  <head>
    <title><%= I18n.t(:contents, default: "Contents") %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="assets/styles/epub.css" />
  </head>

  <body class="epub">
    <div class="chapter section">
      <%= content %>
    </div>
  </body>
</html>
