/* ========= */
/* = PAGES = */
/* ========= */
@page {
	margin: 27mm 16mm 27mm 16mm;
	size: 7in 9.25in landscape;

	@footnotes {
		border-top: thin solid black;
		margin-left: 30%;
		margin-top: 0.6em;
		padding-top: 0.3em;
	}
}

@page cover {
	margin: 0;
}

/* ============= */
/* = BOOKMARKS = */
/* ============= */
.imprint h2,
.chapter h4,
.chapter h5,
.chapter h6 {
	prince-bookmark-level: none;
}

/* ============= */
/* = CONTAINER = */
/* ============= */
div.container {
	height: 7in;
	left: 0;
	page: cover;
	position: absolute;
	top: 0;
	width: 9.25in;
	z-index: -1;
}

/* ============== */
/* = FRONTCOVER = */
/* ============== */
div.frontcover {
	background: #fff;
}

div.frontcover div {
	left: 1in;
	padding-top: 0.25in;
	position: absolute;
	top: 2.5in;
	width: 7.25in;
}

div.frontcover h1 {
	color: #f00;
	font-size: 46pt;
}

div.frontcover h1,
div.frontcover p.authors {
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", "Times New Roman", serif;
}

div.frontcover p {
	font-size: 18pt;
}

div.frontcover p.description {
	color: #666;
	font: italic normal normal 14pt/normal Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif;
	margin-top: -.1in;
}

div.frontcover p.authors {
	color: #000;
	font-style: italic;
	position: absolute;
	top: 0;
}

div.frontcover * {
	margin: 0;
}

/* =========== */
/* = CHAPTER = */
/* =========== */
#chapters {
    counter-reset: page 1;
	page-break-before: always;
}

.chapter {
	color: #444;
	counter-reset: footnote 0;
	font: normal normal normal 12pt/normal Constantia, Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	page-break-after: always;
}

.chapter a {
	color: #0AE;
	font-weight: bold;
	text-decoration: none;
}

.chapter h2 {
	font-size: 24pt;
}

/* =========== */
/* = IMPRINT = */
/* =========== */
.imprint {
	background: #E2E7E2;
	page: cover;
	string-set: header "";
}

.imprint, .imprint * {
	color: #5b5b5b;
}

.imprint * {
	font-family: "Lucida Grande", arial, sans-serif;
	font-size: 10pt;
	margin: 0 0 2pt 0;
}

.imprint div {
	left: 0.5in;
	position: absolute;
	bottom: 0.3in;
}
