<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= title %></title>
		
		<style type="text/css">
			div.chapter,
			div#table_of_contents {
				string-set: owner "Prepared exclusively for John Doe";
			}
		</style>
		
		<link rel="stylesheet" type="text/css" href="../templates/layout.css"/>
		<link rel="stylesheet" type="text/css" href="../templates/syntax.css"/>
		<link rel="stylesheet" type="text/css" href="../templates/user.css"/>
		
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="<%= authors.join(', ') %>" />
		<meta name="subject" content="<%= subject %>" />
		<meta name="keywords" content="<%= keywords %>" />
	</head>

	<body>
		<div id="frontcover">
			<div>
				<h1>
					<span class="main-title">Ruby</span> 
					<span class="secondary-title">//</span>
					<span class="main-title">Rails</span> 
				</h1>
				<p class="tagline">
					Ruby &amp; Rails at Wikipedia // <%= authors.join(', ') %>
				</p>
			</div>
		</div>
		
		<div id="imprint">
			<div>
				<p>
					Copyright © <%= Time.now.year %> <%= authors.join(', ') %>.
				</p>
			 
				<p>
					Versão: <%= Time.now.strftime("%Y-%m-%d") %>
				</p>
			</div>
		</div>
		
		<div id="table_of_contents">
			<h2>Table of Contents</h2>
			<%= toc %>
		</div>
		
		<div id="chapters">
			<%= contents %>
		</div>
		
		<div class="white_page"></div>
	</body>
</html>