/*
Note:

The epub flattens all files into the root directory.
This means you need to reference assets by assuming there's no directory
structure organizing your epub.

This applies to everything, like importing css files, or using background
images.

Also notice that the generated HTML will normalize image paths and stylesheets
imports.
*/
@import "normalize.css";

/* TOC  */
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

ol > li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}
